.header-box {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.header-box h1 {
    background-color: #303030;
    border: lightgrey solid 1px;
}

#main-break {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#gh-link h3 {
    margin-bottom: 1vw;
}

header.major {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
